.paragraph{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    font-size: medium;
}

.poem{
    display: flex;
    flex-direction: column;
    font-size: medium;
    font-family:sans-serif
}

.line{
    margin: 2px;
}

.footnote{
    font-family: sans-serif;
    font-size: larger;
}